@font-face {
    font-family: beaufortforlol-regular;
    src: url("../font/beaufort/beaufortforlol-regular.otf");
}

@font-face {
    font-family: spiegel-bold;
    src: url("../font/spiegel/spiegel-bold.otf");
}

body {
    font-family: beaufortforlol-regular;
    margin: 0;
    padding: 0;
    background-color: #272727;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-blend-mode: multiply;
}

#navbar {
    background-color: #272727;
    height: 3.5vw;
    width: 100%;
    border-bottom: #ffffff solid 1px;
}

#navbarList {
    list-style: none;
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    margin-top: 1vw;
    margin-left: 3vw;
}

#navbarList li {
    font-size: 1.2vw;
    margin-right: 7vw;
}

#navbarList li:last-child {
    margin-right: 0;
}

#navbarList li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

#navbarList li a:hover {
    color: #47b8fa;
}

#navbarListRight {
    list-style: none;
    list-style-type: none;
    padding: 0;
    font-size: 1.2vw;
    display: inline-flex;
    margin-top: 1vw;
    margin-left: 40vw;
}

#navbarListRight li {
    font-size: 1.2vw;
    margin-right: 2vw;
}

#bugReport {
    color: #ffd035;
}

#bugReport:hover {
    cursor: pointer;
}

#donateButton {
    font-family: spiegel-bold;
    color: #5DFF36;
    background-color: #0C4057;
    border: 2px solid #5DFF36;
    padding: 0.4vw 1.5vw;
    border-radius: 5%;
    transition: 0.3s;
}

#donateButton:hover {
    cursor: pointer;
    color: #0C4057;
    background-color: #5DFF36;
    border-color: #0C4057;
}

#gitHubImg {
    border-radius: 100%;
    width: 2vw;
}

#gitHubImg:hover {
    cursor: pointer;
}

#currentVersion {
    color: #5DFF36;
    font-size: 1.5vw;
}

#currentVersion:hover {
    cursor: pointer;
}

#wallet {
    position: absolute;
    color: white;
    display: inline-table;
    margin-top: 2vh;
    margin-right: 2vw;
    right: 0;
}

#wallet img {
    width: 2vw;
}

#wallet span {
    margin-left: 0.5vw;
    font-size: 1.2vw;
}

#walletIpRp {
    margin-left: 2vw;
}

#summonerData {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 40vw;
    margin: auto;
}

#summonerDataImg {
    position: relative;
    width: 17vw;
    text-align: center;
}

#summonerDataLevelFrame {
    position: relative;
    z-index: 1;
    width: 17vw;
}

#summonerDataProfileIcon {
    left: 0;
    right: 0;
    top: 5vw;
    margin: auto;
    position: absolute;
    width: 7.4vw;
    border-radius: 50%;
}

#summonerDataLevel {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    bottom: 3.5vw;
    font-size: 1vw;
}

#summonerMoreData {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 23vw;
    left: 17vw;
    right: 0;
}

#summonerMoreDataName {
    position: absolute;
    color: white;
    font-size: 2vw;
    top: 4.5vw;
    left: 0;
    right: 0;
    text-align: center;
}

#summonerMoreDataLevelBar {
    position: absolute;
    bottom: 8vw;
    left: 0;
    right: 0;
}

.progress {
    background-color: #17a3b877;
    margin: auto;
    height: 1vw;
    width: 10vw;
    box-shadow: 0 0 60px 25px #17a2b850;
}

.progress-bar {
    width: var(--levelBar);
    animation: barAnm 3s;
}

#levelbar {
    color: #0004ff;
    font-size: 1vw;
}

@keyframes barAnm {
    0% {
        width: 0;
    }

    100% {
        width: var(--levelBar);
    }
}

#summonerMoreDataBoost {
    position: absolute;
    bottom: 3vw;
    left: 0;
    right: 0;
    text-align: center;
}

#summonerMoreDataBoost img {
    width: 2vw;
    margin-right: 3vw;
}

#summonerMoreDataBoost img:last-child {
    margin-right: 0;
}

#profileRerollNumber {
    position: absolute;
    top: 2vw;
    right: 7.5vw;
    font-size: 1vw;
    color: white;
}

#profileChestNumber {
    position: absolute;
    top: 2vw;
    left: 4.5vw;
    font-size: 1vw;
    color: white;
}

#summonerChampMasteryData {
    position: absolute;
    width: 30vw;
    height: 29vw;
    left: 0;
    right: 65%;
    top: 19vw;
    bottom: 0;
    margin: auto;
}

#summonerChampMasteryDataFirstChamp {
    position: relative;
    width: 100%;
    height: 55%;
    text-align: center;
}

#summonerChampMasteryDataFirstChampFrameImg {
    position: relative;
    width: 8vw;
}

#summonerChampMasteryDataFirstChampImg {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 8vw;
}

#summonerChampMasteryDataFirstChampText {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.2vw;
    text-align: center;
    color: white;
}

#summonerChampMasteryDataSecondChamp {
    position: absolute;
    width: 50%;
    bottom: 0;
    height: 45%;
    text-align: center;
}

#summonerChampMasteryDataSecondChampFrameImg {
    position: relative;
    width: 6vw;
}

#summonerChampMasteryDataSecondChampImg {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 6vw;
}

#summonerChampMasteryDataSecondChampText {
    position: absolute;
    bottom: 0.5vw;
    left: 0;
    right: 0;
    font-size: 1vw;
    text-align: center;
    color: white;
}

#summonerChampMasteryDataThirdChamp {
    position: absolute;
    width: 50%;
    left: 50%;
    bottom: 0;
    height: 45%;
    text-align: center;
}

#summonerChampMasteryDataThirdChampFrameImg {
    position: relative;
    width: 6vw;
}

#summonerChampMasteryDataThirdChampImg {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 6vw;
}

#summonerChampMasteryDataThirdChampText {
    position: absolute;
    bottom: 0.5vw;
    left: 0;
    right: 0;
    font-size: 1vw;
    text-align: center;
    color: white;
}

#summonerRankedData {
    position: absolute;
    width: 30vw;
    height: 29vw;
    left: 0;
    right: 0;
    top: 19vw;
    bottom: 0;
    margin: auto;
}

#summonerRankedDataFirstRank {
    position: relative;
    width: 100%;
    height: 55%;
    text-align: center;
}

#summonerRankedDataFirstRankImg {
    width: 12vw;
}

#summonerRankedDataFirstRankText {
    position: absolute;
    bottom: 0.5vw;
    left: 0;
    right: 0;
    font-size: 1.2vw;
    text-align: center;
    color: white;
}

#summonerRankedDataSecondRank {
    position: absolute;
    width: 50%;
    bottom: 0;
    height: 45%;
    text-align: center;
}

#summonerRankedDataSecondRankImg {
    width: 10vw;
}

#summonerRankedDataSecondRankText {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1vw;
    text-align: center;
    color: white;
}

#summonerRankedDataThirdRank {
    position: absolute;
    width: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    height: 45%;
    text-align: center;
}

#summonerRankedDataThirdRankImg {
    width: 10vw;
}

#summonerRankedDataThirdRankText {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1vw;
    text-align: center;
    color: white;
}

#summonerHonorData {
    position: absolute;
    width: 30vw;
    height: 29vw;
    left: 65%;
    right: 0;
    top: 19vw;
    bottom: 0;
    margin: auto;
    text-align: center;
}

#summonerHonorDataImg {
    position: relative;
    width: 22vw;
}

#summonerHonorDataHonorLevel {
    position: absolute;
    color: white;
    font-size: 1.3vw;
    left: 0;
    right: 0;
    bottom: 6vw;
}

#summonerHonorDataCheckpoint {
    position: absolute;
    color: white;
    font-size: 1.3vw;
    left: 0;
    right: 0;
    bottom: 3vw;
}

#donatePopup,
#bugReportPopup {
    z-index: 1;
    position: absolute;
    border-radius: 5%;
    top: 16vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vw;
}

#donatePopup {
    background-color: #000000;
    border: #ffffff solid 1px;
    text-align: center;
}

#bugReportPopup {
    background-color: #000000;
    border: #ffffff solid 1px;
    text-align: center;
}

#donatePopup h1,
#bugReportPopup h1 {
    text-align: center;
    margin-top: 1vh;
    font-weight: bold;
    font-size: 3vw;
}

#donatePopup h1 {
    color: #8cff92;
}

#bugReportPopup h1 {
    color: #ffd035;
}

#donatePopup select {
    border-radius: 10%;
    background-color: #1a1a1a;
    color: #39c4ff;
    font-family: spiegel-bold;
    font-size: 1.5vw;
    margin-top: 1vh;
    width: 80%;
    text-align: center;
}

#donatePopup img {
    margin-top: 1vh;
    width: 30%;
    text-align: center;
}

#donateClose,
#bugReportClose {
    position: absolute;
    right: 2vw;
    top: 1vh;
    transition: 200ms;
}

#donateClose:hover,
#bugReportClose:hover {
    cursor: pointer;
    color: red;
}

#donatePopup span,
#bugReportPopup span,
p {
    word-wrap: break-word;
    font-size: 1.5vw;
    text-align: center;
}

#donatePopup span {
    color: #81cdff;
}

#bugReportPopup span,
p {
    color: #f7ff81;
}

#tools {
    width: 100%;
}

#tools div {
    border-radius: 10%;
    position: relative;
    display: inline-flex;
    background-color: #0f1d30;
    width: 20vw;
    height: 50vh;
    margin: 2vw;
    border: #1c7cfa solid 1px;
}

#tools div img {
    position: absolute;
    top: 4vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 10vw;
}

#patchInstallVersion {
    position: absolute;
    top: 9vh;
    left: 0;
    right: 0;
    font-size: 2.8vw;
    text-align: center;
    margin: auto;
    color: #ff9900;
}

.toolsName {
    color: #1c7cfa;
    position: absolute;
    font-size: 2vw;
    top: 25vh;
    left: 0;
    right: 0;
    text-align: center;
}

.toolGo {
    color: #0f1d30;
    background-color: #ce7b00;
    position: absolute;
    font-size: 2.5vw;
    bottom: 2vh;
    left: 2vw;
    right: 2vw;
    text-align: center;
    border-radius: 10%;
    transition: 0.7s;
}

.toolGo:hover {
    cursor: pointer;
    color: #ce7b00;
    background-color: #001d42;
    border: #ce7b00 solid 1px;
}

#installPatchArea {
    color: white;
    width: 40%;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    font-size: 1.5vw;
    font-family: spiegel-bold;
}

#installPatchArea label input {
    margin-right: 0.5vw;
}

#methodSelect {
    width: 50%;
}

#methodURL {
    float: right;
    width: 50%;
}

#installArea {
    position: relative;
    width: 100%;
    margin-top: 3vh;
}

#selectVersion {
    width: 100%;
    background-color: #1b3557;
    border-color: #1c7cfa;
    padding: 0.6vw;
    font-size: 2vw;
    color: #ffc671;
    outline: none;
}

#installButton {
    display: block;
    margin: auto;
    margin-top: 3vh;
    padding: 0.5vw;
    border-radius: 10%;
    color: white;
    background-color: black;
    border-color: white;
    border-style: solid;
    font-size: 2vw;
    transition: 500ms;
}

#installButton:hover {
    background-color: white;
    border-color: black;
    color: black;
}

#installButton:active {
    background: linear-gradient(black, white);
}

#inputURL {
    width: 100%;
    background-color: #1b3557;
    border-color: #1c7cfa;
    padding: 0.3vw;
    font-size: 2vw;
    color: #ffc671;
    outline: none;
}

#instalockArea {
    width: 55%;
    height: 30vh;
    margin: 15vh auto auto auto;
}

#selectChamp,
#selectLane {
    width: 100%;
    background-color: #1f4680;
    border: none;
    border-radius: 5%;
    padding: 0.6vw;
    font-size: 1.5vw;
    color: #ffffff;
    outline: none;
    text-align: center;
}

#changeBgArea {
    width: 55%;
    margin: 15vh auto auto auto;
}

#selectBgChamp,
#selectBgSkin {
    width: 100%;
    background-color: #1f4680;
    border: none;
    border-radius: 5%;
    padding: 0.6vw;
    font-size: 1.5vw;
    color: #ffffff;
    outline: none;
    text-align: center;
}

#selectBgSkin {
    margin-top: 3vh;
}

#changeBgAccept {
    display: table;
    margin: auto;
    margin-top: 3vh;
    padding: 0.4vw;
    border-radius: 10%;
    color: white;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-size: 1.5vw;
    transition: 500ms;
}

#changeBgAccept:hover {
    background-color: white;
    border-color: black;
    color: black;
    cursor: pointer;
}

#changeBgAccept:active {
    background: linear-gradient(black, white);
}

#backTools {
    color: white;
    position: relative;
    top: 2vh;
    left: 2vw;
    font-size: 1.3vw;
    text-decoration: none;
}

#backTools:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #bbbbbb;
}

#inventoryHeader {
    margin-top: 2vh;
    width: 100%;
    border-bottom: 1px solid #9c9c9c;
    padding-bottom: 0.5vw;
}

#inventoryHLinks {
    margin: 0;
    list-style: none;
    list-style-type: none;
    padding-left: 0;
    display: inline-flex;
}

#inventoryHLinks li:first-child {
    margin-left: 2vw;
}

#inventoryHLinks li {
    margin-right: 5vw;
    font-size: 1.5vw;
}

#inventoryHLinks li span{
    color: white;
}

#inventoryHLinks li span:hover{
    color: #bbbbbb;
    cursor: pointer;
    text-decoration: underline;
}

#inventoryArea{
    text-align: center;
    width: 97%;
    margin: auto;
}

#inventoryArea img{
    width: 8vw;
    margin: 1vw;
}

#inventoryArea img:hover{
    cursor: pointer;
}

#champHeader{
    font-size: 2.2vw;
    display:table;
    color: white;
    background-color: #0e406e3b;
    border-radius: 10%;
    margin: 2vh auto auto auto;
    padding: 0.7vw;
}

#champAllDataTable{
    width: 80%;
    margin: 2vh auto auto auto;
}

#champAllDataTable tr td{
    padding: 0.5vw;
    color: white;
    width: 50%;
}

#champAllDataTable tr td h3{
    text-align: center;
    font-size: 1.8vw;
}

#champAllDataTable tr td{
    border: 1px solid white;
    font-size: 1vw;
}